.adminEpisodes {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
}

.adminEpisodes h2 {
    margin-right: 20px;
}