@import '../../Vars.scss';

.adminMenu {
  width: $adminMenu_width;
  margin: $adminMenu_margin;
  height: calc(100vh - 40px);
  position: fixed;
  left: 0;
  background-color: $darkGrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 30px;
  border-radius: 20px;

  &_item {
    padding: 20px;
    font-weight: 600;
    &--active {
      padding: 20px;
      font-weight: 600;
      background-color: $red;
      border-radius: 10px;
      color: #fff;
    }
  }
}
