@import '../../Vars.scss';

.adminMenu {
    width: $adminMenu_width;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: $red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.adminMenu_item {
    padding: 20px;
    font-weight: 600;
}