.carosuelTitle {
  margin: 30px 0 10px 30px;
}

.carousel {
    overflow: scroll;
    padding-left: 30px;
    width: 100%;
    position: relative;
  }
  
  .carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 30px 0;
    padding-bottom: 10px;
  }
  
  .carousel__container:hover .carousel-item {
    opacity: 0.5;
  }
  
  .carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }