@import '../Vars.scss';

.header-space {
    height: $header-heigth;
}

.header {
    width: 100%;
    height: $header-heigth;
    background-color: #050505;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 2;
    top: 0;
}

.logo {
    width: 150px;
}

.menu {
    display: flex;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}