.moviePreviewImage {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: fixed;
    right: 0;
}

.moviePreviewImage img{
    height: 100%;
}