.moviePreviewDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 60px;
}

.moviePreviewDetails_goHome {
  position: absolute;
  top: 120px;
  left: 30px;
}

.moviePreviewDetails_title {
  font-size: 50px;
  margin: 10px 0;
}

.moviePreviewDetails_description {
  margin: 10px 0;
}

.moviePreviewDetails_play {
  display: flex;
  justify-content: flex-end;
}
