@import '../Vars.scss';

$searchBar-height: 50px;

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  input {
    height: $searchBar-height;
    width: 60%;
    padding: 15px;
    border-radius: 15px;
    border: none;
  }
}
