.seasonPreview {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #2e2e2e;
    padding: 30px;
    margin: 20px 0;
}

.seasonPreview_number {
    margin-bottom: 10px;
}