.videoPlayer_controls {
  align-self: flex-end;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
  }
}

.videoPlayer_controls-togglePlay {
  background: none;
  width: 8%;
}

.videoPlayer_controls-togglePlay img {
  height: 30px;
}

.videoPlayer_controls-timer {
  width: 5%;
}

.videoPlayer_controls-seeker {
  width: 73%;
  padding: 0;
  margin: 0;
  border: 0;
}

.videoPlayer_controls-volume {
  width: 6%;
  display: flex;
  justify-content: center;
}

.videoPlayer_controls-volume-volume {
  background-color: grey;
  display: none;
  width: 20px;
  height: 100px;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  position: absolute;
  bottom: 90px;
  right: 10%;
  margin: 0;
  padding: 0;
  border: 0;
}

.videoPlayer_controls-volume-mute {
  background: none;
}

.videoPlayer_controls-volume-mute img {
  height: 30px;
}

.videoPlayer_controls-volume-mute:hover + .videoPlayer_controls-volume-volume,
.videoPlayer_controls-volume-volume:hover {
  display: inline-block;
}

.videoPlayer_controls-fullScreen {
  width: 7%;
  background: none;
}

.videoPlayer_controls-fullScreen img{
  height: 30px;
}
