@import '../Vars.scss';

.moviePreview {
  display: flex;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 60px;
  }
}
.moviePreviewImage {
  max-width: 100%;
  max-height: calc(100vh - 40px - 100px);
  border-radius: 10px;
  margin: 20px;
}
