.videoPlayer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.videoPlayer_goBack {
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
  font-size: 18px;
}

.videoPlayer_name {
  margin: 50px;
}

.videoPlayer_player {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0;
  z-index: -1;
}

.watching {
  cursor: none;
}